<% layout("layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-2">
            <div class="cols col-8 offset-2">
                <h2>Edit your listing</h2>
                <form method="POST" action="/listings/<%= listing._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" class="form-control" type="text" placeholder="title" name="listing[title]"
                            value="<%= listing.title %>" required/>
                        <div class="invalid-feedback">Title should be valid</div>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea id="desc" class="form-control"
                            name="listing[description]" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter a valid description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload new listing Image</label>
                        <input id="image" class="form-control" type="file"
                            name="listing[image]">
                        <div class="invalid-feedback">Please enter a valid image URI</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" class="form-control" type="number" placeholder="Price"
                                name="listing[price]" value="<%= listing.price%>" required/>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" class="form-control" type="text" placeholder="location"
                                name="listing[location]" value="<%= listing.location %>" required/>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" class="form-control" type="text" placeholder="country"
                            name="listing[country]" value="<%= listing.country %>" required/>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>

                    <br>
                    <button class="btn btn-dark col-3">Edit</button>
                    <br><br>
                </form>
            </div>
        </div>

    </body>